name: tests

on: [ push ]

jobs:
  tests:
    name: Python ${{ matrix.python-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        python-version: [ 3.8 ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Retrieve packages from cache
        uses: actions/cache@v1
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-conda-${{ hashFiles('environment.yml') }}
      - name: Create and activate conda environment
        uses: conda-incubator/setup-miniconda@v2.0.1
        with:
          activate-environment: adcircpy
          python-version: ${{ matrix.python-version }}
          environment-file: environment.yml
          use-only-tar-bz2: true
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        shell: bash -l {0}
      - name: Test with coverage
        run: coverage run --source ensemble_perturbation -m nose --nologcapture --verbose --ignore-files="test_parser\.py"
        shell: bash -l {0}
      - name: Generate coverage report
        run: coverage report -m
        shell: bash -l {0}
